@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?87155790');
    src: url('../font/fontello.eot?87155790#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?87155790') format('woff2'),
       url('../font/fontello.woff?87155790') format('woff'),
       url('../font/fontello.ttf?87155790') format('truetype'),
       url('../font/fontello.svg?87155790#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header{
    text-align: center;
    border-bottom: 1px solid rgb(237,238,238);
    background-color: rgb(255,255,255);
}
.container_logo{
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    margin: 22px 0 25px 0;
}
.header_sharkgram{
    color: rgb(0, 198, 206);
    display: inline-block;
    margin: 0;
    font-size: 2.66em;
    letter-spacing: -0.1em;
}
.link_not_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.btn{
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
.submit_pay_now{
    background-color: rgb(7,211,15);
    color: rgb(255,255,255);
    width: 150px;
    text-align: center;
    display: block;
    font-weight: 600;
    margin: auto;
    margin-top: 80px;
}