@media (max-width:960px){
    .content_block{
        width: 70%;
    }
    .header{
        text-align: center;
    }
    .container_logo{
        margin-left: 0;
    }
    .content_block{
        width: 30em;
        padding: 0 0 3em 2em;
        margin: auto;
    }
    .submit_login,
    input[name="user_login"]{
        width: 100%;
    }
    .header_content_block ~ form{
        width: 90%;
    }
}
@media (max-width:800px){
    .bg_container_login_page{
        display: none;
    }
    .bg_phone{
        display: inline-block;
    }
}
@media (max-width:500px){
    .content_block{
        width: 95%;
    }
    .header_content_block{
        letter-spacing: 1;
        font-size: 1.6em;
        line-height: 1.2;
    }
}
@media screen and (max-device-width:480px){
    .header{
        text-align: center;
    }
    .container_logo{
        margin-left: 0;
    }
    .content_block{
        width: 100%;
        margin-left: 0;
        padding: 0 1em 0 1em;
    }
    .header_content_block{
        font-size: 1.7em;
        letter-spacing: 1px;
        margin-top: 30px;
        line-height: 1.2;
    }
    input[name="user_login"]{
        margin:auto;
        margin-top: 2em;
        padding: 15px 15px;
        width: 80%;
    }
    .submit_login{
        width: 80%;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .submit_login{
        margin-top: 1em;
    }
    .bg_container_login_page{
        display: none;
    }
    .bg_phone{
        display: inline-block;
        opacity: 0.6;
    }
}