@media(max-width: 1000px){
    .container_user_photo{
        margin-right: 0;
    }
}
@media(max-width: 900px){
    .header_sharkgram{
        font-size: 2.2em;
    }
    .container_nav_panel{
        padding: 0.5em 1em;
    }
}
@media(max-width: 870px){
    .user_info{
        padding: 5% 5%;
    }
    .container_user_photo{
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 2em;
    }
    .container_user_photo form{
        display: inline-block;
    }
    .info,
    .more_followers{
        margin: 0;
        width: 100%;
        display: block;
    }
    .more_followers{
        margin-top: 2em;
    }
}
@media(max-width: 800px){
    label.open_close_nav_panel{
        display: inline-block;
    }
    .nav_panel{
        transition: 0.3s linear;
        position: absolute;
        top: 100%;
        left: -100%;
        height: 100vh;
        margin: 0;
        background-color: rgb(255,255,255);
        width: 60%;
        background-color: rgb(85,61,15);
        z-index: 1;
        overflow: auto;
    }
    .list_nav_panel{
        display: block;
        width: 100%;
        height: 100%;
    }
    .item_list_nav_panel{
        top: -15%;
        width: 90%;
        transition: 0.3s linear;
        opacity: 0;
        display: table;
        vertical-align: middle;
    }
    .item_list_nav_panel:nth-child(4) :last-child{
        color: rgb(255,255,255);
        border: none;
        border-bottom: 1px solid;
    }
    .item_list_nav_panel,
    .link_nav_panel{
        color: rgb(255,255,255);
        margin: 0;
    }
    .link_nav_panel{
        display: table-cell;
        vertical-align: middle;
        font-size: 1.3em;
        border-bottom: 1px solid;
        background-color: rgb(85,61,15);
        padding: 16px 12px 16px 12px;
    }
    input[id="open_close_nav_panel"]:checked ~ .nav_panel{
        left: 0;
    }
    input[id="open_close_nav_panel"]:checked ~ label.open_close_nav_panel .one{
        transform: rotate(45deg);
        top: 47%;
    }
    input[id="open_close_nav_panel"]:checked ~ label.open_close_nav_panel .two{
        transform: rotate(135deg);
        bottom: 43%;
    }
    input[id="open_close_nav_panel"]:checked ~ .nav_panel .list_nav_panel :nth-child(1){
        transition-delay: 0.28s;
        top: 0;
        opacity: 1;
        padding-left: 2em;
    }
    input[id="open_close_nav_panel"]:checked ~ .nav_panel .list_nav_panel :nth-child(2){
        transition-delay: 0.38s;
        top: 15%;
        opacity: 1;
        padding-left: 2em;
    }
    input[id="open_close_nav_panel"]:checked ~ .nav_panel .list_nav_panel :nth-child(3){
        transition-delay: 0.48s;
        top: 30%;
        opacity: 1;
        padding-left: 2em;
    }
    input[id="open_close_nav_panel"]:checked ~ .nav_panel .list_nav_panel :nth-child(4){
        transition-delay: 0.58s;
        top: 45%;
        opacity: 1;
        padding-left: 2em;
    }
}
@media screen and (max-device-width:480px){
    .container_nav_panel{
        border-bottom: 1px solid rgb(216, 216, 216);
        padding: 0.5em 1em;
    }
    .nav_panel{
        width: 80%;
    }
    label.open_close_nav_panel{
        vertical-align: sub;
    }
    .item_list_nav_panel:nth-child(4) :last-child{
        color: rgb(255,255,255);
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
    }
    .container_user_photo{
        width: 100%;
        display: block;
        text-align: center;
    }
    .container_user_photo form{
        display: inline-block;
    }
    .info,
    .more_followers{
        display: block;
    }
    .container_settings .content{
        font-size: 1.2em;
        margin: 0 0.2em;
    }
    .select_last, .add_photos, .add_comments{
        margin-bottom: 1.2em;
        line-height: 1.8;
    }
    input:active ~ .block_content label .select:before{
        content: '✓';
    }
    .container_select_likes_comments{
        margin: 1em 0em 0 0;
    }
}